body {
  background-color: #f1f8fd;
  width: 225px;
}

h3 {
  text-align: center;
}

h4 {
  margin: 0.5em 0.2em;
  text-align: center;
}

.container {
  border: solid 1px gray;
  padding: 0.5em;
  margin: 0.5em;
  margin-bottom: 0.8em;
  background-color: #e7eaf6;
}

#current-schedule-form input {
  width: 100%;
  box-sizing : border-box;
}

#current-schedule-form div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0.2em 0 0.3em;
}

#current-schedule-form button {
  flex-grow: 1;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.image-button {
  padding: 0;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.name-schedule {
  outline: none;
  display: inline;
  flex-grow: 4;
  order: 1;
  margin: 0.2em 0.4em;
  text-align: center;
}

input.name-schedule {
  width: 100px;
}

button.change-schedule-name {
  height: 16px;
  width: 16px;
  margin-right: 0.5em;
  background-image: url('../img/pencil.png');
  order: 2;
}

button.save-schedule-name {
  height: 16px;
  width: 16px;
  background-image: url('../img/ok.png');
  order: 2;
}

button.update-schedule {
  height: 16px;
  width: 16px;
  margin-right: 0.5em;
  background-image: url('../img/diskette.png');
  order: 3;
}

button.delete-schedule {
  height: 16px;
  width: 16px;
  background-image: url('../img/delete.png');
  order: 4;
}

#icon-bib {
  font-size: 0.7em;
  font-style: italic;
  text-align: center;
}
