body {
  background-color: #f1f8fd;
}

h3 {
  text-align: center;
}

h4 {
  margin: 0.5em 0.2em;
  text-align: center;
}

.container {
  border: solid 1px gray;
  padding: 0.5em;
  margin: 0.5em;
  margin-bottom: 0.8em;
  background-color: #e7eaf6;
}

.current-schedule-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0.2em 0 0.3em;
}

.current-schedule-buttons button {
  flex-grow: 1;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

li button.name-schedule {
  outline: none;
  display: inline;
  flex-grow: 4;
  order: 1;
  margin: 0.2em 0.4em;
}

li button.delete-schedule {
  height: 16px;
  width: 16px;
  padding: 0;
  background-image: url('../img/delete.png');
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  order: 2;
}

#icon-bib {
  font-size: 0.7em;
  font-style: italic;
  text-align: center;
}
