body {
  /* background-color: #f1f8fd; */
  background-color: #e7eaf6;
  width: 235px;
}

.disabled {
  display: none;
}

h3 {
  text-align: center;
}

h4 {
  margin: 0.5em 0.2em;
  /* text-align: center; */
}

.container {
  /* border: solid 1px gray; */
  padding: 0.5em;
  margin: 0.5em;
  margin-bottom: 0.8em;
}

#current-semester-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

#current-semester {
  font-size: medium;
}

#current-semester {
  font-weight: bold;
}

.tooltip {
  position: relative;
}

.tooltip .basetext {
  font-size: large;
  cursor: help;
  font-weight: bold;
}

.tooltip .hovertext {
  position: absolute;
  visibility: hidden;
  z-index: 1;
  font-size: small;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;

  top: 110%;
  left: -100px;
}

.tooltip:hover .hovertext {
  visibility: visible;
}

#current-schedule-form input {
  width: 100%;
  box-sizing : border-box;
}

#current-schedule-form div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0.2em 0 0.3em;
}

#current-schedule-form button {
  flex-grow: 1;
}

#form-error-text {
  margin-bottom: 0px;
}

.error {
  font-style: italic;
  font-weight: bold;
  color: #ff0033;
  text-align: center;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 0px;
}

li {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

#schedules-list-empty-text {
  text-align: center;
  font-style: italic;
}

.image-button {
  padding: 0;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.name-schedule {
  outline: none;
  display: inline;
  flex-grow: 4;
  order: 1;
  margin: 0.2em 0.4em;
  text-align: center;
  word-break: break-all;
  flex-basis: 63%;
}

input.name-schedule {
  width: 100px;
}

button {
  cursor: pointer;
}

button.change-schedule-name {
  height: 16px;
  width: 16px;
  margin-right: 0.5em;
  background-image: url('../img/pencil.png');
  order: 2;
}

button.save-schedule-name {
  height: 16px;
  width: 16px;
  background-image: url('../img/ok.png');
  order: 2;
}

button.update-schedule {
  height: 16px;
  width: 16px;
  margin-right: 0.5em;
  background-image: url('../img/diskette.png');
  order: 3;
}

button.delete-schedule {
  height: 16px;
  width: 16px;
  margin-right: 0.3em;
  background-image: url('../img/delete.png');
  order: 4;
}

